snippet h1 "New section" bA
\section{$1}
\label{sec:$2}

$0
endsnippet

snippet h2 "New subsection" bA
\subsection{$1}
\label{sec:$2}

$0
endsnippet

snippet h3 "New subsubsection" bA
\subsubsection{$1}
\label{sec:$2}

$0
endsnippet

snippet para "Paragraph" bA
\paragraph*{$1}
$0
endsnippet

snippet txrpdf "texorpdfstring" iA
\texorpdfstring{${VISUAL}}{${1:${VISUAL}}} $0
endsnippet
