snippet mk "Math" wA
$${1:${VISUAL}}$$0
endsnippet

snippet dm "Math" wA
\[
${1:${VISUAL}}
\] $0
endsnippet

snippet pac "Package" b
\usepackage[${1:options}]{${2:package}}$0
endsnippet

snippet nc "\newcommand{}{}" b
\newcommand{$1}{$2}$0
endsnippet

snippet "RR" "\cref{}" rA
 \cref{${1:${VISUAL:}}}$0
endsnippet

snippet "CC" "\cite{}" rA
~\cite{${1:${VISUAL:}}}$0
endsnippet
